In [178]:
import pandas as pd

In [179]:
df = pd.read_csv("https://raw.githubusercontent.com/harsaihaj/Autism-Detection/refs/heads/main/Toddler%20Autism%20dataset%20July%202018.csv")

In [180]:
df1 = df.copy()

In [181]:
df = df.rename(columns={"Age_Mons":"Age Months","Family_mem_with_ASD":"Family Memeber with ASD","Class/ASD Traits ":"ASD Traits"})
df.columns

Index(['Case_No', 'A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9', 'A10',
       'Age Months', 'Qchat-10-Score', 'Sex', 'Ethnicity', 'Jaundice',
       'Family Memeber with ASD', 'Who completed the test', 'ASD Traits'],
      dtype='object')

In [182]:
df["Ethnicity"] = df["Ethnicity"].replace("mixed","Other")
df["Ethnicity"] = df["Ethnicity"].replace("Native Indian","Indian")
df["Ethnicity"] = df["Ethnicity"].replace("asian","Other Asians")
df["Ethnicity"] = df["Ethnicity"].replace("middle eastern","Middle Easters")
df["Ethnicity"] = df["Ethnicity"].replace("south asian","South Asian")
df["Ethnicity"] = df["Ethnicity"].replace("black", "African")

In [183]:
df["Who completed the test"] = df["Who completed the test"].replace("family member", "Family Member")
df["Who completed the test"] = df["Who completed the test"].replace("Health care professional", "Health Care Professional")

In [184]:
cat_df = df[["Sex", "Ethnicity", "Jaundice", "Who completed the test", "Family Memeber with ASD", "ASD Traits"]]
num_df = df[["A1", "A2", "A3", "A4","A5","A6", "A7", "A8", "A9", "A10", "Qchat-10-Score", "Age Months"]]

In [185]:
df1.drop(columns=["Case_No"], inplace=True)

In [186]:
df1["Age"] = df1["Age_Mons"]/12
df1.drop(columns=["Age_Mons"], inplace=True)

In [187]:
order = ['A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9', 'A10',  'Age',
       'Qchat-10-Score', 'Sex', 'Ethnicity', 'Jaundice', 'Family_mem_with_ASD',
       'Who completed the test', 'Class/ASD Traits ']
df1 = df1[order]

In [188]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df1["Sex"] = le.fit_transform(df1["Sex"])
df1["Jaundice"] = le.fit_transform(df1["Jaundice"])
df1["Family_mem_with_ASD"] = le.fit_transform(df1["Family_mem_with_ASD"])
df1["Class/ASD Traits "] = le.fit_transform(df1["Class/ASD Traits "])
df1.head()

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age,Qchat-10-Score,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits
0,0,0,0,0,0,0,1,1,0,1,2.333333,3,0,middle eastern,1,0,family member,0
1,1,1,0,0,0,1,1,0,0,0,3.000000,4,1,White European,1,0,family member,1
2,1,0,0,0,0,0,1,1,0,1,3.000000,4,1,middle eastern,1,0,family member,1
3,1,1,1,1,1,1,1,1,1,1,2.000000,10,1,Hispanic,0,0,family member,1
4,1,1,0,1,1,1,1,1,1,1,1.666667,9,0,White European,0,1,family member,1

In [189]:
df1 = pd.get_dummies(df1, columns=["Ethnicity", "Who completed the test"], drop_first=True)
df1.head()

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,...,Ethnicity_White European,Ethnicity_asian,Ethnicity_black,Ethnicity_middle eastern,Ethnicity_mixed,Ethnicity_south asian,Who completed the test_Health care professional,Who completed the test_Others,Who completed the test_Self,Who completed the test_family member
0,0,0,0,0,0,0,1,1,0,1,...,0,0,0,1,0,0,0,0,0,1
1,1,1,0,0,0,1,1,0,0,0,...,1,0,0,0,0,0,0,0,0,1
2,1,0,0,0,0,0,1,1,0,1,...,0,0,0,1,0,0,0,0,0,1
3,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,1
4,1,1,0,1,1,1,1,1,1,1,...,1,0,0,0,0,0,0,0,0,1

In [190]:
# Convert all boolean columns (True/False) to integers (1/0)
df1[['Ethnicity_White European', 'Ethnicity_asian', 'Ethnicity_black',
     'Ethnicity_middle eastern', 'Ethnicity_mixed', 'Ethnicity_south asian',
     'Who completed the test_Health care professional', 'Who completed the test_Others',
     'Who completed the test_Self', 'Who completed the test_family member']] = \
df1[['Ethnicity_White European', 'Ethnicity_asian', 'Ethnicity_black',
     'Ethnicity_middle eastern', 'Ethnicity_mixed', 'Ethnicity_south asian',
     'Who completed the test_Health care professional', 'Who completed the test_Others',
     'Who completed the test_Self', 'Who completed the test_family member']].astype(int)

# Display the first few rows to check the changes
df1.head()

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,...,Ethnicity_White European,Ethnicity_asian,Ethnicity_black,Ethnicity_middle eastern,Ethnicity_mixed,Ethnicity_south asian,Who completed the test_Health care professional,Who completed the test_Others,Who completed the test_Self,Who completed the test_family member
0,0,0,0,0,0,0,1,1,0,1,...,0,0,0,1,0,0,0,0,0,1
1,1,1,0,0,0,1,1,0,0,0,...,1,0,0,0,0,0,0,0,0,1
2,1,0,0,0,0,0,1,1,0,1,...,0,0,0,1,0,0,0,0,0,1
3,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,1
4,1,1,0,1,1,1,1,1,1,1,...,1,0,0,0,0,0,0,0,0,1

In [191]:
order = ['A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9', 'A10', 'Age',
       'Qchat-10-Score', 'Sex', 'Jaundice', 'Family_mem_with_ASD', 'Ethnicity_Latino',
        'Ethnicity_Native Indian','Ethnicity_Others', 'Ethnicity_Pacifica',
        'Ethnicity_White European','Ethnicity_asian', 'Ethnicity_black', 'Ethnicity_middle eastern',
       'Ethnicity_mixed', 'Ethnicity_south asian',
       'Who completed the test_Health care professional',
       'Who completed the test_Others', 'Who completed the test_Self',
       'Who completed the test_family member', 'Class/ASD Traits ']

df1 = df1[order]
df1.head()

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,...,Ethnicity_asian,Ethnicity_black,Ethnicity_middle eastern,Ethnicity_mixed,Ethnicity_south asian,Who completed the test_Health care professional,Who completed the test_Others,Who completed the test_Self,Who completed the test_family member,Class/ASD Traits
0,0,0,0,0,0,0,1,1,0,1,...,0,0,1,0,0,0,0,0,1,0
1,1,1,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,1,1
2,1,0,0,0,0,0,1,1,0,1,...,0,0,1,0,0,0,0,0,1,1
3,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,1,1
4,1,1,0,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,1,1

In [192]:
dftest = pd.read_csv('qchat10_results.csv')

In [193]:
dftest

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,...,Ethnicity_White European,Ethnicity_asian,Ethnicity_black,Ethnicity_middle eastern,Ethnicity_mixed,Ethnicity_south asian,Who completed the test_Health care professional,Who completed the test_Others,Who completed the test_Self,Who completed the test_family member
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,1,1,1,1,1,1,1,1,1,1,...,0,1,0,0,0,0,0,0,0,1

In [194]:
df1.columns

Index(['A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9', 'A10', 'Age',
       'Qchat-10-Score', 'Sex', 'Jaundice', 'Family_mem_with_ASD',
       'Ethnicity_Latino', 'Ethnicity_Native Indian', 'Ethnicity_Others',
       'Ethnicity_Pacifica', 'Ethnicity_White European', 'Ethnicity_asian',
       'Ethnicity_black', 'Ethnicity_middle eastern', 'Ethnicity_mixed',
       'Ethnicity_south asian',
       'Who completed the test_Health care professional',
       'Who completed the test_Others', 'Who completed the test_Self',
       'Who completed the test_family member', 'Class/ASD Traits '],
      dtype='object')

In [195]:
dftest.columns

Index(['A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9', 'A10', 'Age',
       'Qchat-10-Score', 'Sex', 'Jaundice', 'Family_mem_with_ASD',
       'Class/ASD Traits', 'Ethnicity_Latino', 'Ethnicity_Native Indian',
       'Ethnicity_Others', 'Ethnicity_Pacifica', 'Ethnicity_White European',
       'Ethnicity_asian', 'Ethnicity_black', 'Ethnicity_middle eastern',
       'Ethnicity_mixed', 'Ethnicity_south asian',
       'Who completed the test_Health care professional',
       'Who completed the test_Others', 'Who completed the test_Self',
       'Who completed the test_family member'],
      dtype='object')

In [196]:
dftest = dftest.rename(columns={"Class/ASD Traits":"Class/ASD Traits "})
dftest = dftest[order]

In [197]:
dftest

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,...,Ethnicity_asian,Ethnicity_black,Ethnicity_middle eastern,Ethnicity_mixed,Ethnicity_south asian,Who completed the test_Health care professional,Who completed the test_Others,Who completed the test_Self,Who completed the test_family member,Class/ASD Traits
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,1,1,1,1,1,1,1,1,1,1,...,1,0,0,0,0,0,0,0,1,1

In [198]:
from sklearn.model_selection import train_test_split

X = df1.drop(columns=["Class/ASD Traits "])
y = df1["Class/ASD Traits "]

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state = 42)

In [199]:
from sklearn.preprocessing import MinMaxScaler

sc = MinMaxScaler()
X_train_scaled = sc.fit_transform(X_train)
X_test_scaled = sc.transform(X_test)

In [200]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
# Import necessary functions from sklearn.metrics
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
import pandas as pd

In [201]:
def train_model(model,X_train_scaled, y_train, X_test_scaled,y_test):
  model.fit(X_train_scaled,y_train)
  y_pred = model.predict(X_test_scaled)
  accuracy = accuracy_score(y_test, y_pred)
  precision = precision_score(y_test, y_pred)
  recall = recall_score(y_test, y_pred)
  f1 = f1_score(y_test, y_pred)

  score_df = pd.DataFrame([[accuracy,precision,recall,f1]],columns=["accuracy", "precision", "recall", "f1"])
  return score_df

In [202]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier()
random_forest_results = train_model(model,X_train_scaled,y_train, X_test_scaled, y_test)
random_forest_results.index = ["Random Forest Classifier"]
random_forest_results

                          accuracy  precision  recall   f1
Random Forest Classifier       1.0        1.0     1.0  1.0

In [203]:
dftest["Age"] = dftest["Age"]/12

In [204]:
dftest["Sex"] = dftest["Sex"].replace("Male","m")
dftest["Sex"] = dftest["Sex"].replace("Female","f")
dftest["Family_mem_with_ASD"] = dftest["Family_mem_with_ASD"].replace("No",0)
dftest["Family_mem_with_ASD"] = dftest["Family_mem_with_ASD"].replace("Yes",1)

dftest["Jaundice"] = dftest["Jaundice"].replace("No",0)
dftest["Jaundice"] = dftest["Jaundice"].replace("Yes",1)

In [205]:
dftest = dftest.rename(columns={"Who_completed_test":"Who completed the test"})
dftest = dftest.rename(columns={"Class/ASD Traits":"Class/ASD Traits "})

dftest

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,...,Ethnicity_asian,Ethnicity_black,Ethnicity_middle eastern,Ethnicity_mixed,Ethnicity_south asian,Who completed the test_Health care professional,Who completed the test_Others,Who completed the test_Self,Who completed the test_family member,Class/ASD Traits
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,1,1,1,1,1,1,1,1,1,1,...,1,0,0,0,0,0,0,0,1,1

In [206]:
dftest.head(1)

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,...,Ethnicity_asian,Ethnicity_black,Ethnicity_middle eastern,Ethnicity_mixed,Ethnicity_south asian,Who completed the test_Health care professional,Who completed the test_Others,Who completed the test_Self,Who completed the test_family member,Class/ASD Traits
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [207]:
df1.head(1)

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,...,Ethnicity_asian,Ethnicity_black,Ethnicity_middle eastern,Ethnicity_mixed,Ethnicity_south asian,Who completed the test_Health care professional,Who completed the test_Others,Who completed the test_Self,Who completed the test_family member,Class/ASD Traits
0,0,0,0,0,0,0,1,1,0,1,...,0,0,1,0,0,0,0,0,1,0

In [208]:
dftest.head(1)

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,...,Ethnicity_asian,Ethnicity_black,Ethnicity_middle eastern,Ethnicity_mixed,Ethnicity_south asian,Who completed the test_Health care professional,Who completed the test_Others,Who completed the test_Self,Who completed the test_family member,Class/ASD Traits
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [209]:
# Fill missing values in 'Sex' column with a default value (e.g., 0 for 'unknown')
dftest['Sex'] = dftest['Sex'].map({'male': 1, 'female': 0}).fillna(0).astype('int32')

In [210]:
display(df1['Family_mem_with_ASD'])

0       0
1       0
2       0
3       0
4       1
       ..
1049    1
1050    0
1051    0
1052    1
1053    1
Name: Family_mem_with_ASD, Length: 1054, dtype: int32

In [211]:
display(dftest['Family_mem_with_ASD'])

0    1
1    1
Name: Family_mem_with_ASD, dtype: int64

In [212]:
common_columns = set(df1.columns).intersection(set(dftest.columns))
diff_columns_df1 = set(df1.columns) - set(dftest.columns)
diff_columns_df2 = set(dftest.columns) - set(df1.columns)

print(f"Common columns: {common_columns}")
print(f"Columns in df1 but not in df2: {diff_columns_df1}")
print(f"Columns in df2 but not in df1: {diff_columns_df2}")

# Compare data types for common columns
for col in common_columns:
    if df1[col].dtype == dftest[col].dtype:
        print(f"Column '{col}' has the same data type in both dataframes: {df1[col].dtype}")
    else:
        print(f"Column '{col}' has different data types - df1: {df1[col].dtype}, df2: {dftest[col].dtype}")

Common columns: {'Ethnicity_black', 'A2', 'A6', 'Jaundice', 'Family_mem_with_ASD', 'Ethnicity_asian', 'Age', 'Ethnicity_Latino', 'A5', 'A7', 'A10', 'Ethnicity_middle eastern', 'Who completed the test_Self', 'Ethnicity_Pacifica', 'Class/ASD Traits ', 'Ethnicity_Others', 'A1', 'Ethnicity_Native Indian', 'Qchat-10-Score', 'Ethnicity_White European', 'Who completed the test_family member', 'A9', 'Sex', 'A8', 'Ethnicity_south asian', 'A3', 'Who completed the test_Others', 'A4', 'Who completed the test_Health care professional', 'Ethnicity_mixed'}
Columns in df1 but not in df2: set()
Columns in df2 but not in df1: set()
Column 'Ethnicity_black' has different data types - df1: int32, df2: int64
Column 'A2' has the same data type in both dataframes: int64
Column 'A6' has the same data type in both dataframes: int64
Column 'Jaundice' has different data types - df1: int32, df2: int64
Column 'Family_mem_with_ASD' has different data types - df1: int32, df2: int64
Column 'Ethnicity_asian' has different data types - df1: int32, df2: int64
Column 'Age' has the same data type in both dataframes: float64
Column 'Ethnicity_Latino' has different data types - df1: uint8, df2: int64
Column 'A5' has the same data type in both dataframes: int64
Column 'A7' has the same data type in both dataframes: int64
Column 'A10' has the same data type in both dataframes: int64
Column 'Ethnicity_middle eastern' has different data types - df1: int32, df2: int64
Column 'Who completed the test_Self' has different data types - df1: int32, df2: int64
Column 'Ethnicity_Pacifica' has different data types - df1: uint8, df2: int64
Column 'Class/ASD Traits ' has different data types - df1: int32, df2: int64
Column 'Ethnicity_Others' has different data types - df1: uint8, df2: int64
Column 'A1' has the same data type in both dataframes: int64
Column 'Ethnicity_Native Indian' has different data types - df1: uint8, df2: int64
Column 'Qchat-10-Score' has the same data type in both dataframes: int64
Column 'Ethnicity_White European' has different data types - df1: int32, df2: int64
Column 'Who completed the test_family member' has different data types - df1: int32, df2: int64
Column 'A9' has the same data type in both dataframes: int64
Column 'Sex' has the same data type in both dataframes: int32
Column 'A8' has the same data type in both dataframes: int64
Column 'Ethnicity_south asian' has different data types - df1: int32, df2: int64
Column 'A3' has the same data type in both dataframes: int64
Column 'Who completed the test_Others' has different data types - df1: int32, df2: int64
Column 'A4' has the same data type in both dataframes: int64
Column 'Who completed the test_Health care professional' has different data types - df1: int32, df2: int64
Column 'Ethnicity_mixed' has different data types - df1: int32, df2: int64

In [213]:
# Create a mapping of df1 column data types
df1_dtypes = df1.dtypes

# Convert dftest columns to the data types of df1
for col in common_columns:
    if df1_dtypes[col] != dftest[col].dtype:
        try:
            # Convert the dftest column to match df1's data type
            dftest[col] = dftest[col].astype(df1_dtypes[col])
            print(f"Converted column '{col}' to {df1_dtypes[col]}")
        except Exception as e:
            print(f"Could not convert column '{col}': {e}")

# Now dftest should match df1 in terms of data types for common columns.

Converted column 'Ethnicity_black' to int32
Converted column 'Jaundice' to int32
Converted column 'Family_mem_with_ASD' to int32
Converted column 'Ethnicity_asian' to int32
Converted column 'Ethnicity_Latino' to uint8
Converted column 'Ethnicity_middle eastern' to int32
Converted column 'Who completed the test_Self' to int32
Converted column 'Ethnicity_Pacifica' to uint8
Converted column 'Class/ASD Traits ' to int32
Converted column 'Ethnicity_Others' to uint8
Converted column 'Ethnicity_Native Indian' to uint8
Converted column 'Ethnicity_White European' to int32
Converted column 'Who completed the test_family member' to int32
Converted column 'Ethnicity_south asian' to int32
Converted column 'Who completed the test_Others' to int32
Converted column 'Who completed the test_Health care professional' to int32
Converted column 'Ethnicity_mixed' to int32

In [214]:
common_columns = set(df1.columns).intersection(set(dftest.columns))
diff_columns_df1 = set(df1.columns) - set(dftest.columns)
diff_columns_df2 = set(dftest.columns) - set(df1.columns)

print(f"Common columns: {common_columns}")
print(f"Columns in df1 but not in df2: {diff_columns_df1}")
print(f"Columns in df2 but not in df1: {diff_columns_df2}")

# Compare data types for common columns
for col in common_columns:
    if df1[col].dtype == dftest[col].dtype:
        print(f"Column '{col}' has the same data type in both dataframes: {df1[col].dtype}")
    else:
        print(f"Column '{col}' has different data types - df1: {df1[col].dtype}, df2: {dftest[col].dtype}")

Common columns: {'Ethnicity_black', 'A2', 'A6', 'Jaundice', 'Family_mem_with_ASD', 'Ethnicity_asian', 'Age', 'Ethnicity_Latino', 'A5', 'A7', 'A10', 'Ethnicity_middle eastern', 'Who completed the test_Self', 'Ethnicity_Pacifica', 'Class/ASD Traits ', 'Ethnicity_Others', 'A1', 'Ethnicity_Native Indian', 'Qchat-10-Score', 'Ethnicity_White European', 'Who completed the test_family member', 'A9', 'Sex', 'A8', 'Ethnicity_south asian', 'A3', 'Who completed the test_Others', 'A4', 'Who completed the test_Health care professional', 'Ethnicity_mixed'}
Columns in df1 but not in df2: set()
Columns in df2 but not in df1: set()
Column 'Ethnicity_black' has the same data type in both dataframes: int32
Column 'A2' has the same data type in both dataframes: int64
Column 'A6' has the same data type in both dataframes: int64
Column 'Jaundice' has the same data type in both dataframes: int32
Column 'Family_mem_with_ASD' has the same data type in both dataframes: int32
Column 'Ethnicity_asian' has the same data type in both dataframes: int32
Column 'Age' has the same data type in both dataframes: float64
Column 'Ethnicity_Latino' has the same data type in both dataframes: uint8
Column 'A5' has the same data type in both dataframes: int64
Column 'A7' has the same data type in both dataframes: int64
Column 'A10' has the same data type in both dataframes: int64
Column 'Ethnicity_middle eastern' has the same data type in both dataframes: int32
Column 'Who completed the test_Self' has the same data type in both dataframes: int32
Column 'Ethnicity_Pacifica' has the same data type in both dataframes: uint8
Column 'Class/ASD Traits ' has the same data type in both dataframes: int32
Column 'Ethnicity_Others' has the same data type in both dataframes: uint8
Column 'A1' has the same data type in both dataframes: int64
Column 'Ethnicity_Native Indian' has the same data type in both dataframes: uint8
Column 'Qchat-10-Score' has the same data type in both dataframes: int64
Column 'Ethnicity_White European' has the same data type in both dataframes: int32
Column 'Who completed the test_family member' has the same data type in both dataframes: int32
Column 'A9' has the same data type in both dataframes: int64
Column 'Sex' has the same data type in both dataframes: int32
Column 'A8' has the same data type in both dataframes: int64
Column 'Ethnicity_south asian' has the same data type in both dataframes: int32
Column 'A3' has the same data type in both dataframes: int64
Column 'Who completed the test_Others' has the same data type in both dataframes: int32
Column 'A4' has the same data type in both dataframes: int64
Column 'Who completed the test_Health care professional' has the same data type in both dataframes: int32
Column 'Ethnicity_mixed' has the same data type in both dataframes: int32

In [215]:
dftest.drop(columns=["Class/ASD Traits "], inplace=True)

In [216]:
prediction = model.predict(dftest.values)

In [217]:
model.predict(dftest)

C:\Users\harsa\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\sklearn\base.py:432: UserWarning: X has feature names, but RandomForestClassifier was fitted without feature names
  warnings.warn(

array([0, 1])